<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Landing Page</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/img/logo-placeholder.png" alt="Logo">
        <div class="header-botoes">
            <a class="botao cadastro" href="cadastro.html">Cadastre-se</a>
            <a class="botao login" href="login.html">Login</a>
        </div>
    </header>
    <main>
        <section class="conteudo">
            <div>
                <h1 class="conteudo-titulo">Ecorrida: Uma Aventura Ambiental</h1>
                <br>
                <p class="conteudo-texto">Mergulhe em uma jornada emocionante pelo Maranhão e descubra como pequenos atos podem fazer uma grande diferença no nosso planeta. Jogue agora e ajude a combater os vilões ambientais!</p>
                <br>
                <a class="botao botao-conteudo" href="#">Jogue agora mesmo!</a>
            </div>
            <div class="container-imagem">
                <img class="imagem" src="../assets/img/image-placeholder.png" alt="Imagem">
            </div>
        </section>
        <div>
            <ul class="bullet-points">
                <li><div class="bullet-points-icone"><img src="../assets/img/Glyph.png" alt="">
                    <span class="bullet-points-titulo">Regionalidade</span></div><br>
                    <p class="bullet-points-texto">Cenários inspirados nas paisagens e desafios ambientais do Maranhão.</p></li>
                <li><div class="bullet-points-icone"><img src="../assets/img/Glyph.png" alt="">
                    <span class="bullet-points-titulo">Conscientização</span></div><br>
                    <p class="bullet-points-texto">Aborde questões ambientais reais e aprenda sobre sustentabilidade.</p></li>
                <li><div class="bullet-points-icone"><img src="../assets/img/Glyph.png" alt="">
                    <span class="bullet-points-titulo">Educação Ambiental</span></div><br>
                    <p class="bullet-points-texto">Informações educativas integradas ao gameplay.</p></li>
                <li><div class="bullet-points-icone"><img src="../assets/img/Glyph.png" alt="">
                    <span class="bullet-points-titulo">Aventura</span></div><br>
                    <p class="bullet-points-texto">Enfrente obstáculos emocionantes em uma narrativa envolvente.</p></li>
                <li><div class="bullet-points-icone"><img src="../assets/img/Glyph.png" alt="">
                    <span class="bullet-points-titulo">Vilões Temáticos</span></div><br>
                    <p class="bullet-points-texto">Personagens que representam problemas ambientais

